.market-obj {
  height: 10vh;
  width: 100%;
  background: #13293d;
  font-family: "Roboto", sans-serif;
}

.stuff {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-top: 0.75vh;
  margin-bottom: 0.75vh;
}

.stuff li {
  display: inline-block;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

li {
  margin-bottom: 10px;
}

h2 {
  font-weight: 500;
  font-size: 1.1rem;
  color: #1b98e0;
}

p {
  font-weight: 400;
  font-size: 1rem;
  color: #e8f1f2;
}

.content {
  width: 75vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.typename {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.typename .typename-prop {
  height: 8vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.typename .typename-prop p {
  position: relative;
  top: -1vh;
}

.typename .typename-prop h2 {
  position: relative;
  bottom: -0.7vh;
}
