.market-obj {
  height: 10vh;
  width: 100%;
  background: rgb(70, 70, 70);
  border-color: white;
  margin-top: 0.1vh;
}

ul li {
  display: inline-block;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  color: white;
}

li {
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

ul li button {
  padding-top: -2vh;
  margin-bottom: 3vh;
}
